<div>
    <sly-field title="Download point clouds"
               description="Download project with point clouds or only annotations">
        <div class="fflex" style="flex-direction: column; align-items: flex-start">
            <el-radio class="radio"
                      v-model="state.items"
                      label="True">Download point clouds and annotations
            </el-radio>
            <el-radio class="radio"
                      v-model="state.items"
                      label="False"
                      style="margin-left: 0;">Download only annotations
            </el-radio>
        </div>
    </sly-field>
</div>
